* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1.4rem 7%;
}

header {
  background-image: url("Assets/Coffe\ Header.png");
  background-size: cover;
  /* background-color: #143642B2; */
  height: 600px;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  opacity: 0.8;
}

.header-wrapper {
  color: white;
  padding-top: 200px;
  padding-bottom: 130px;
}

.header-container {
  flex-direction: row;
  display: flex;
  justify-content: space-between;

}

.header-text {
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: xx-large;
}

.logo {
  width: 50%;
  height: 50%;
}

.header-left {
  float: left;
  position: absolute;
  height: 50px;
  width: 300px;
}

.header-right {
  float: right;
  margin-right: 0px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
  font-size: large;
}

/* .who-are-we {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.who-are-we-left {
  float: left;
}

.who-are-we-image {
  width: 350px;
  height: 500px;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  justify-content: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.who-are-we-right {
  float: right;
}

.who-are-we-right h1 {
  font-size: xx-large;
  color: #0F8B8D;
  margin-top: 200px;
}

.who-are-we-right p {
  font-size: medium;
  margin-top: 50px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
} */

section {
  display: flex;
  flex-direction: row;
  width: 700px;
  column-gap: 50px;
}

section.product-showcase {
  flex-direction: row-reverse;
}

section div img {
  width: 200px;
}

section div h1 {
  color: #0F8B8D;
  font: size 40px;
  line-height: 57.6px;
  border-bottom: 20px orange solid;
  display: inline-block;
}

section.find-us-out {
  height: auto;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}

input {
  width: 700px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color: #143642;
  color: #fff;
  height: 460px;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  column-gap: 20px;
}

footer div img {
  float: left;
  margin-top: 8px;
  margin-left: 8px;
}

.footer-column {
  flex: 1;
  padding: 20px 20px;
}

footer div h3 {
  color: orange solid;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  color: white;
  margin-bottom: 5px;
}